html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

/* ================ UNIVERSAL ================ */

body {
  font-family: "Work Sans", sans-serif;
  color: rgb(10%, 10%, 10%);
  background: darken(white, 10%);
  font-size: 16px;
}

#full {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
}

#layout {
  width: 100%;
  margin-right: 200px;
}

/* =============== LEFT SIDE NAV BAR ================ */

.NavBar i {
  text-decoration: none;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.NavBar {
  float: left;
  margin-left: 0px;
  background-color: rgba(0, 0, 0, 0.85);
  width: 125px;
  margin-bottom: 0px;
  min-height: 100%;
}

.nav-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav-user-img {
  padding: 15%;
  width: 100%;
  height: auto;
  padding-bottom: 5%;
}

.nav-list-element {
  float: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#nav-top {
  margin-top: 0px;
}

#nav-bottom {
  border-bottom: none;
}

#nav-top-link {
  height: 125px;
}

#nav-top-link:hover {
  background-color: inherit;
}

.nav-list-link {
  border: none;
  display: block;
  height: 100px;
  width: 125px;
  color: rgba(250, 250, 250, 0.8);
  text-align: center;
}

// fade-in transition
.nav-list-link:hover {
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.5s;
	background-color: rgba(0, 200, 0, 0.8);
}

.nav-link-div {
  margin-top: 100px;
  margin-bottom: auto;
  border: 2px solid white;
  vertical-align: middle;
}

.nav-link-div img {
  border-top: 0px;
}

.nav-list-link:hover {
  border: none;
  background-color: none;
}

#nav-bottom-title {
  display: inline-block;
  margin-top: 15px;
  margin-left: 10px;
}

#nav-bottom-text {
  color: white;
  font-size: 17px;
  text-align: center;
}

/* =============== UNOPENED RECIEVED SNAPS DISPLAY ====== */

#recv-snaps-title {
  padding-bottom: 30px;
  display: block;
  margin-top: 40px;
  margin-bottom: 35px;
  margin-left: 160px;
  font-weight: 100;
  font-size: 14px;
}

#recv-snaps {
  display: block;
  height: 100%;
  padding-left: 20px;
  margin-left: 200px;
  border-left: 1px solid rgba(0,0,0,0.5);
}

#recv-snaps-end {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #0BB5FF;
  margin-left: 193px;
}

/* ================ HOMEPAGE DISPLAY (SINGLE SNAPS CSS) ======== */

#home-snap-icon-hover {
  display: none;
}

#home-snap-icon-no-hover {
  color: white;
}

.home-snap-full {
  margin-top: 50px;
  margin-left: 40px;
  padding: 10px;
  background-color: white;
  margin-bottom: 0px;
  width: 80%;
}

.home-snap-full i {
  text-decoration: none;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#home-snap-first {
  margin-top: -50px;
}

#snap-circle {
  display: inline-block;
  color: white;
  margin-left: -100px;
  margin-top: -10px;
  background-color: #0BB5FF;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

#snap-circle:hover #home-snap-icon-no-hover {
  display: none;
}

#snap-circle:hover #home-snap-icon-hover {
  display: inline-block;
  color: white;
  font-size: 30px;
}

#open-snap {
  border: none;
}

#home-snap-p1 {
  margin-top: -20px;
}

#home-snap-p1 i {
  text-decoration: none;
  position: inherit;
  font-size: 30px;
  transform: none;
}

/* ================= SINGLE SNAP VIEW DISPLAY =========== */

#show-snap-full {
  font-size: 40px;
  margin-left: 150px;
}

#show-snap-box {
  width: auto;
  display: block;
  width: 100%;
  height: 100%;
}

/* ================ CREATE SNAP CONTAINER ================ */

.NewSnap {
  margin-left: 160px;
}

.NewSnap h4 {
  font-weight: 100;
}

.ns-options {
  margin-top: -20px;
  width: 500px;
  height: 170px;
  margin-left: auto;
  margin-right: auto;
}

.ns-icons {
  margin-left: auto;
  margin-right: auto;
}

#ns-header {
  padding-bottom: 30px;
  margin-top: 40px;
  font-weight: 100;
  font-size: 14px;
}

#drop-zone-icon, #snapshot-icon {
  cursor: pointer;
  font-size: 180px;
}

#drop-zone-icon {
  float: right;
}

#snapshot-icon {
  float: left;
}

#ns-text-send {
  border: 4px solid white;
  text-align: center;
  width: 440px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  background-color: #0BB5FF;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-size: 20px;
}

#ns-text-outer {
  display: flex;
  flex-direction: column;
  background-color: rgba(1, 1, 1, 0.3);
  height: 126px;
  width: 520px;
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

#ns-text-send span {
  font-size: 15px;
}

#pic-to-send-caption {
  border-radius: 5px;
  border: none;
  padding: 5px;
  line-height: 13px;
  font-family: "Work Sans", sans-serif;
  font-size: 15px;
}

#ns-reset-div p, i {
  padding: 0px;
  margin: 0px;
}

#ns-reset-div {
  padding: 5px;
  color: white;
  border-radius: 5px;
  background-color: #0BB5FF;
  width: 65px;
  cursor: pointer;
}

#drop-zone-icon:active, #snapshot-icon:active {
  color: #0BB5FF;
}

.pic-to-send {
  margin-top: 10px;
  text-align: center;
}

#pts-img {
  margin-left: auto;
  margin-right: auto;
}

/* ============== SUBMIT BUTTON SEND SCREEN ======= */

#ns-submit {
  display: flex;
  flex-direction: column;
  background-color: rgba(1, 1, 1, 0.3);
  height: 135px;
  width: 330px;
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
  padding: 35px;
}

#ns-submit div {
  font-family: 'Arial';
  width: 251px;
  border: white solid 4px;
  cursor: pointer;
  background-color: #0BB5FF;
  color: white;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

#ns-submit a {
  border: none;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
  color: white;
}

#ns-submit div:hover {
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  background-color: white;
}

#ns-submit div:hover a {
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  color: #0BB5FF;
  background-color: rgba(0,0,0,0);
}

/* =============== PROFILE PAGE ============ */

.profile-top {
  display: flex;
  flex-direction: row;
}

.profile {
  display: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  width: 400px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.profile h1, h4 {
  text-align: center;
  margin-top: -20px;
}

.profile h4 {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.profile li {
  border-radius: 5px;
  padding: 5px;
  color: white;
  background-color: #0BB5FF;
  margin-bottom: 5px;
  list-style: none;
}

.profile span {
  float: right;
}

.profile i {
  vertical-align:middle;
}

.profile ul {
  width: 100%;
  padding-right: 40px;
  margin-top: 0px;
  display: inline-block;
}

.list-holder {
  display: flex;
  flex-direction: column;
}

#profile-pic {
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
}

.profile img {
    width: 200px;
    height: auto;
}

#profile-header {
  padding-right: 20px;
  height: 50px;
  margin-top: 40px;
  display: inline-block;
  font-weight: 100;
  font-size: 14px;
  margin-left: 50px;
}

/* ============== SETTINGS PAGE ============= */

.settings-top {
  display: flex;
  flex-direction: row;
}

.settings {
  display: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  width: 400px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.settings h1 {
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.settings li {
  border-radius: 5px;
  padding: 5px;
  color: white;
  background-color: #0BB5FF;
  margin-bottom: 5px;
  list-style: none;
}

.settings span {
  float: right;
}

.settings i {
  vertical-align:middle;
}

.settings ul {
  width: 100%;
  padding-right: 40px;
  margin-top: 0px;
  display: inline-block;
}

.list-holder-settings {
  display: flex;
  flex-direction: column;
}

#settings-header {
  padding-right: 20px;
  height: 50px;
  margin-top: 40px;
  display: inline-block;
  font-weight: 100;
  font-size: 14px;
  margin-left: 50px;
}

#settings-change-info {
  float: left;
  margin-left: 40px;
  margin-bottom: 40px;
  margin-right: 40px;
  padding: 10px;
  width: 125px;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  background-color: rgba(255,0,0,0.7);
}

/* ========== OPENED SNAP VIEW ========= */

#timer {
  font-size: 80px;
}


/* ========== SIGN UP ========= */

.sign-up-top {
  display: flex;
  flex-direction: row;
}

.Sign-Up {
  display: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  width: 400px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.email {

}

.password {

}

.username {

}

.buttons {

}

#signup {

}

#cancel {

}


<div className="Sign-Up">
  <h1> Sign Up!!! </h1>

  <div id="email">
    <input placeholder="Enter your email" value={this.state.email} onChange={this.emailWasChanged} />
  </div>
  <div id="password">
    <input placeholder="Enter your password" value={this.state.password} onChange={this.passwordWasChanged} />
  </div>
  <div id="username">
    <input placeholder="Enter your username" value={this.state.username} onChange={this.usernameWasChanged} />
  </div>

  <div id="buttons">
    <div id="signup" onClick={this.signUserUp}>
      Sign Up
    </div>
    <div id="cancel">
      <Link to="/">Cancel</Link>
    </div>
  </div>
</div>


/* ========== SIGN IN ========= */

#timer {
  font-size: 80px;
}
